@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>약관</h1>
<p>학생이 만든 학습용 사이트입니다.<br /> 개인정보를 기입하지 마세요.</p>
<p>아이디 비밀번호 예시: temp temp1234</p>
<a class="btn btn-dark" asp-area="" asp-controller="Login" asp-action="Signup">회원가입 하기</a>
