@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "로그인";
}
@model ASPCoreMVC.ViewModels.SigninViewModel

<h2>로그인</h2>
<form asp-action="Signin" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserID">아이디</label>
        <input asp-for="UserID" class="form-control" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">비밀번호</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark">로그인</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}